name,template,num_cpus,memory_mb,network0.ip,network0.netmask,network0.name,password,disk0.size_gb,disk0.type,disk0.datastore,dns_servers
vm01,ubuntu-server-2004,2,2048,192.168.1.90,255.255.255.0,"VM Network","P@ssw0rd",40,thin,datastore0,192.168.1.1
